* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  height: auto;
}
div.nav-bar-container {
  z-index: 1;
  height: 100px;
  width: 100%;
  position: fixed;
  padding-top:10px;
}
ul.nav-bar li {
  list-style:none;
  margin-top:30px;  
}
ul.nav-bar li:nth-child(1) {
  float: left;
  margin-top: 0px;
}
ul.nav-bar li {
  float: right;
  padding:5px;
  margin-left: 20px;
}
ul.nav-bar li:nth-child(2) {
  margin-right: 50px;
}
ul.nav-bar li a {
  color:white;
  text-decoration: none;
  font-weight: bold;
}
ul.nav-bar li:nth-child(6) a{
  color:#ffa008;
  text-decoration:none;
  font-weight: bold;
}
ul.nav-bar li:hover{
  transform: scale(1.1);
}

.landing-image img {
  display: block;
  /* position: relative; */
  top: 0;
  left: 0;
  z-index: -1;
}
.policy{
  width: 100%;
  display: block;
  padding-top: 100px;
  /* height: 200px; */
}
.policy button {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom:60px;
  padding:10px;
  color:black;
  font-weight: bold;
  border:none;
}
.policy h1 {
  text-align: center;
  color:#ffa008;
  padding:60px 0px;
}
.policy p {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
}

.forum{
  display: inline-block;
  width: 100%;
  border:none;
}
.forum-img{
  height: auto;
  width: 50%;
  float: left;
  /* display: inline; */
}

.inner-forum{
    /* box-shadow: 0 4px 8px 0 #ffa008, 0 6px 10px 0 #ffa008; */
    width: 50%;
    float: right;
    background-color: #ffa008 ;
    color:black;
    display: inline;
    height:450px;
    overflow: hidden;
    padding:100px 0px;
}
.inner-forum h3 {
  text-align:center;
  margin-bottom: 30px;
  font-weight: bold;
}
form {
  display: block;
  margin: auto;
  width: 80%;
}
#abc {
   display: inline;
}
label {
  display: inline-block;
  width: 40%;
  margin-bottom: 20px;
  font-weight: 600;
}
select,input {
  display: inline-block;
  width: 40%;
  padding:10px;
  margin-bottom: 20px;
  border:none;
}
select {
  width: 44%;
}
textarea {
  width: 44%;
  height: 100px;
  border:none;
}
#submit-button {
  width: 45%;
  padding:10px;
  display: block;
  margin-left: 41%;
  border:none;
}
.landing-image img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
    #abc img{
      width: 0px;
      height:0px;
    }
    .forum-img{
      width: 0%;
      float: none;
      height:0px;
    }
    .inner-forum{
      display: block;
      width: 100%;
      text-align: center;
    }
    .policy h1{
      padding:10px 0px;
      font-size: 6vw;
    }
    .policy p{
      font-size: 4vw;
    }
    .policy button{
      margin:15px 0px;
      margin: auto;
      margin-bottom: 10px;
    }
    .policy{
      padding-top: 30px;
    }
    .nav-bar{
      height: 100px;

      margin: auto;
    }
    .nav-bar li {
      font-size: 2vw;
      display: inline-block;
    }
    .nav-bar li:nth-child(1)
    {
      display: none;
    }
    #submit-button {
      margin-left: 48%;
    }
}
