* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  height: auto;
}
div.nav-bar-container {
  z-index: 1;
  height: 100px;
  width: 100%;
  position: fixed;
  padding-top:10px;
}
ul.nav-bar li {
  list-style:none;
  margin-top:30px;  
}
ul.nav-bar li:nth-child(1) {
  float: left;
  margin-top: 0px;
}
ul.nav-bar li {
  float: right;
  padding:5px;
  margin-left: 20px;
}
ul.nav-bar li:nth-child(2) {
  margin-right: 50px;
}
ul.nav-bar li a {
  color:white;
  text-decoration: none;
  font-weight: bold;
}
ul.nav-bar li:nth-child(6) a{
  color:#ffa008;
  text-decoration:none;
  font-weight: bold;
}
ul.nav-bar li:hover{
  transform: scale(1.1);
}

.landing-image img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
.odd {
 border:1px solid grey;
 border-radius:10px;
 margin-left:30px;
 margin-top:30px;
 display: inline-block;
 float:left;
 padding:20px;
}
.even {
  border:1px solid grey;
  border-radius:10px;
  margin-right:30px;
  margin-top:30px;
  display: inline-block;
  float:right;
  padding:20px;
 }

 @media only screen and (max-width: 600px){
.nav-bar li {
    font-size: 1.5vw;
    margin: 0;
  }
  .nav-bar li:nth-child(1) {
    display: none;
    margin: 0;
  }
 }